.commentBody img {
    max-width: 480px;
    height: auto;
}
.youtubePreview {
    width: 96px;
    height: auto;
}
.created {
    text-align: center;
}

.datepicker {
    min-width: 120px;
}

.table, .navbar {
    margin-bottom: 0px;
}

