<!DOCTYPE html>
<html ng-app="autoLepraTop">

<head>
    <title>Auto lepra videos top</title>

    <script src="Scripts/third-party/angular.min.js"></script>
    <script src="Scripts/third-party/angular-route.min.js"></script>
    <script src="Scripts/third-party/angular-sanitize.min.js"></script>
    <script src="Scripts/third-party/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/third-party/jquery-1.9.1.min.js"></script>
    <script src="Scripts/third-party/bootstrap.min.js"></script>
    <script src="Scripts/third-party/jquery.magnific-popup.min.js"></script>
    
    <script src="Scripts/third-party/moment-with-locales.js"></script>
    <script src="Scripts/third-party/angular-moment-picker.min.js"></script>

    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="Content/magnific-popup.css" rel="stylesheet" />
    <link href="Content/angular-moment-picker.min.css" rel="stylesheet" />

    <link href="Content/style.css" rel="stylesheet"/>

    <script src="Scripts/app/app.js"></script>
    <script src="Scripts/app/BaseController.js"></script>
    <script src="Scripts/app/ListController.js"></script>
    <script src="Scripts/app/api.js"></script>
</head>

<body ng-controller="BaseController">

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Videos</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/list?sort=bydate">Sort by date</a></li>
                    <li><a href="#/list?sort=byrating">Sort by rating</a></li>
                </ul>
                <p class="navbar-text">Date range:</p>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <div class="form-control datepicker"
                             moment-picker="datepicker.stringFrom"
                             ng-model="datepicker.momentFrom"
                             format="YYYY-MM-DD"
                             max-date="datepicker.momentTo"
                             min-date="datepicker.minDate">
                            <a class="pull-right"
                               ng-if="datepicker.stringFrom"
                               ng-click="datepicker.stringFrom = ''; ">
                                &times;
                            </a>
                            <span ng-class="{'text-muted': !datepicker.stringFrom}">
                                {{ datepicker.stringFrom || 'From' }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control datepicker"
                             moment-picker="datepicker.stringTo"
                             ng-model="datepicker.momentTo"
                             format="YYYY-MM-DD"
                             max-date="datepicker.maxDate"
                             min-date="datepicker.momentFrom">
                            <a class="pull-right"
                               ng-if="datepicker.stringTo"
                               ng-click="datepicker.stringTo = ''">
                                &times;
                            </a>
                            <span ng-class="{'text-muted': !datepicker.stringTo}">
                                {{ datepicker.stringTo || 'To' }}
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="filter()">Filter</button>
                </form>

                <p class="navbar-text navbar-right">Last update: {{lastUpdated}}</p>
            </div>
        </div>
    </nav>
    <div class="alert alert-danger" id="error" style="display: none;">
        {{error}}
    </div>
    <div  id="loader" class="text-center">
        <img src="images/loading_spinner.gif" />
    </div>

    <div ng-view></div>

</div>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26766504 = new Ya.Metrika({
                    id:26766504,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/26766504" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>